:root {
  --darkGray: #2d3748;
  --gray: #4a5568;
  --grayLight: #f7fafc;
  --primary: #6b46c1;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.top-header {
  background: #26468f;
  height: 35px;
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

.image{
  display: block;
}

.first-container{
  display: flex;
  padding: 0 10%;
  align-items: center;
  flex-direction: row;
}

.desc-first-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  background: #ebebeb;
  display: flex;
  justify-content: flex-end;
  padding: 25px 10%;
  margin: 0;
}

.btn {
  background: #26468f;
  outline: none;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 80px;
}
footer > div {
  display: flex;
  gap: 30px;
}

/*utils */

.font-weight-bold {
  font-weight: bold;
}

@media only screen and (max-width: 420px) {

  .button-container {
    justify-content: center;
  }

  footer {
    flex-direction: column-reverse;
  }
}
